.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: 200px;
}

.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
}