<div class="sidebar-container">
    <div mat-subheader>Menus</div>
    <mat-icon class="close-icon" (click)="closeDrawer()">close</mat-icon>
</div>
<mat-list>
    <mat-divider></mat-divider>
    <mat-list-item>
        <mat-icon matListItemIcon>text_fields</mat-icon>
        <div matListItemTitle routerLink="./text">Text</div>
    </mat-list-item>
    <mat-list-item>
        <mat-icon matListItemIcon>image</mat-icon>
        <div matListItemTitle>Images</div>
    </mat-list-item>
    <mat-list-item>
        <mat-icon matListItemIcon>audiotrack</mat-icon>
        <div matListItemTitle>Audio</div>
    </mat-list-item>
    <mat-list-item>
        <mat-icon matListItemIcon>video_library</mat-icon>
        <div matListItemTitle>Video</div>
    </mat-list-item>
    <mat-list-item>
        <mat-icon matListItemIcon>video_library</mat-icon>
        <div matListItemTitle>Thumbnail</div>
    </mat-list-item>
    <mat-list-item>
        <mat-icon matListItemIcon>tag</mat-icon>
        <div matListItemTitle>Tag</div>
    </mat-list-item>
</mat-list>