.sidebar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-container div {
    font-weight: 500;
    font-size: x-large;
}

.close-icon {
    cursor: pointer;
    margin-right: 20px;
}